.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #121212;
}

.navbar h2 a {
  display: flex;
  align-items: center;
  gap: .5rem
}

.navbar form {
  display: flex;
  gap: .5rem
}

.navbar input {
  padding: .2rem .8rem;  
  border-radius: 4px;
  border: none;
}

.navbar form button {
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: .3rem;
  font-weight: 600;
  font-size: 1.3rem;
  border: 2px solid #990000;;
  border-radius: 4px;
  background-color: #990000;
  transition: .3s;
}

.navbar form button:hover {
  background-color: transparent;
  color: #990000;
}